.footer
      .footer__about Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
      .footer__menu
        ul.nav-list
          li.nav-list__item
            a.nav-list__item-link(href="") Мои работы
          li.nav-list__item
            a.nav-list__item-link(href="") Обо мне
          li.nav-list__item
            a.nav-list__item-link(href="") Блог
          li.nav-list__item
            a.nav-list__item-link(href="") Авторизация
        ul.footer__social 
          li.footer__social-item
            a.footer__social-link(href="VK") vk 
          li.footer__social-item
            a.footer__social-link(href="GitHub") github
          li.footer__social-item
            a.footer__social-link(href="Link") Linkdn
      .footer__contacts
        ul.contacts
          li.contacts__item
            a.contacts__item-link(href="") skype
          li.contacts__item
            a.contacts__item-link(href="") email
          li.contacts__item
            a.contacts__item-link(href="") +8-800-888-88-88
          li.contacts__item
            a.contacts__item-link(href="") г. Москва