header.header 
    .header__socials
        ul.social 
          li.social__item
            a.link(href="VK") vk 
          li.social__item
            a.link(href="GitHub") github
          li.social__item
            a.link(href="Link") Linkdn 
    .menu-hambuger
        a.menu-hamburger__link(href="menu")
          img.menu-hamburger__img(src="assets/images/icons/hamburger.png", alt="")