.wrapper-menu
    .auth
        a.btn-auth(href="") Авторизироваться
    .main-content
        .about-welcome
            .about-welcome__avatar
                img.about-welcome__avatar-img(src="assets/images/me.jpg", alt="")
            .about-welcome__title Николай Кузьменко
            .about-welcome__text Личный сайт веб разработчика
            ul.social
                li.social__item
                    a.link(href="VK") vk
                li.social__item
                    a.link(href="GitHub") github
                li.social__item
                    a.link(href="Link") Linkdn
        ul.menu
            li.menu__item
                a.menu__link(href="/about.html") Мои работы
            li.menu__item
                a.menu__link(href="/my-works.html") Обо мне
            li.menu__item
                a.menu__link(href="/blog.html") Блог

        .copyright &#169 Николай Кузьменко | создано с любовью в LoftShcool | 2017